body {
  font-family: "Roboto Slab", serif;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  color: #a70d2a;
}
.home-page {
  color: white;
  text-align: center;
  background-image: url(images/donation14.webp);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
.font-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-style {
  padding: 20px;
  margin: 50px;
  width: 200px;
  background-image: linear-gradient(
    45deg,
    blue,
    orange,
    tomato,
    rgb(200, 14, 150)
  );
  color: white;
  border-radius: 15px;
}
.donate-style {
  text-align: center;
  margin-top: 100px;
}
.donate-amount {
  display: flex;
}
.divided-width {
  width: 15%;
  margin: 5%;
  box-shadow: 0 0 10px 5px black;
  padding: 40px;
  background-color: gray;
  color: white;
}
#spcific-style {
  background-color: tomato;
}
.payment-input {
  text-align: center;
}
.payment-input input {
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
}

.button-style2 {
  padding: 20px;
  width: 200px;
  background-color: #aa076b;
  color: white;
  border-radius: 15px;
}
.width-style {
  width: 30%;
  margin: 5%;
  box-shadow: 0 0 10px 5px black;
  padding: 40px;
  border-radius: 15px;
}
.payment-input input {
  padding: 10px;
  width: 300px;
  border-radius: 15px;
}
.payment-input button {
  padding: 10px;
  width: 150px;
}
.fotter-style {
  margin-top: 100px;
  text-align: center;
  height: 150px;
  background-color: black;
  color: #ff512f;
}
.subscribe {
  background-color: #ffedbc;
  padding: 50px;
  margin: 20px 300px;
}
.foter {
  padding: 20px;
}
