body {
  font-family: "Roboto Slab", serif;
}
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  color: #ff512f;
}
.home-page {
  color: white;
  text-align: center;
  background-image: url(images/donation5.jpg);
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
}
.font-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button-style {
  padding: 20px;
  margin: 50px;
  width: 200px;
  background-color: #5b86e5;
  color: white;
  border-radius: 15px;
}
.donate-style {
  text-align: center;
  margin-top: 100px;
}
.donate-amount {
  display: flex;
}
.divided-width {
  width: 15%;
  margin: 5%;
  box-shadow: 0 0 10px 5px black;
  padding: 40px;
  background-color: gray;
  color: white;
}
#spcific-style {
  background-color: tomato;
}
.payment-input {
  text-align: center;
}
.payment-input input {
  padding: 15px;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
}

.button-style2 {
  padding: 20px;
  width: 200px;
  background-color: #aa076b;
  color: white;
  border-radius: 15px;
}
